<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link rel="stylesheet" href="{% static 'css/service.css' %}" />
    <link rel="stylesheet" href="{% static 'css/cars.css' %}" />

  </head>
  <body>
    {% include 'header.html'%}
    <header style="background-image: url({% static 'img/carsbackground.jpg' %})">
      <h1>PREMIUM CARS</h1>
    </header>
    
    <section class="about_card_cont">
      {% for i in premium %}
      <article class="about_card">
        <img
          src="{{i.img.url}}"
          width="600"
          height="450"
          alt="cards image"
        />
    

        <div class ="car_content">
          <h3>{{i.name}}</h3>
          <h4>PRICE: {{i.price}} SOM/HOUR</h4>
          <h4>Year: {{i.year}}</h4>
          <h4>Color: {{i.color}}</h4>
          <h4>Max quantity of seats: {{i.seats}}</h4>

        </div>
      </article>
      {% endfor %}
    </section>    




    {% include 'footer.html'%}
  </body>
  </html>