<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
</head>
<body>
    <footer>
        <div>
          <picture>
            <img
              src="../../static/img/mainlogo.svg"
              width="100"
              alt=""
            />
            <h4>
              wedding cars <br />
              rental
            </h4>
          </picture>
        </div>
        <div>
          <h3>CONTACTS</h3>
          <ul>
            <li>Contacts: +996 557 95 10 00</li>
            <li>address: Ahunbaeva 123</li>
            <li>email: carrentalkg@gmail.com</li>
          </ul>
        </div>
        <div>
          <h3>Social Media</h3>
          <ul>
            <li>INSTAGRAM</li>
            <li>TIKTOK</li>
          </ul>
        </div>
      </footer>

</body>
</html>